/nbproject/
/runtime/
/addons/
/public/assets/addons/
/public/uploads/

/vendor/
/node_modules/

.idea/
.vscode/

.env
.user.ini

*.log
*.sql
*.zip
*.tar
*.gz

.DS_Store
.svn

*.css.map
!.gitkeep

public/ygcrm.apk
